CLOUDINARY_CLOUD_NAME=do5o35khb
CLOUDINARY_API_KEY=448273754546448
CLOUDINARY_API_SECRET=QvreOyb8BF79KAVj9dgf-rFY82U

NEXT_PUBLIC_SUPABASE_URL=https://bxagnoiruqpghkzrfqbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4YWdub2lydXFwZ2hrenJmcWJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzMzUyOTgsImV4cCI6MjA1OTkxMTI5OH0.RtwX46wbsmRCefVIuHNkhDA37Sj2_a2dONww_Sm5UQc